.page2{
    height: fit-content;
    width: 100%;
    margin-bottom: 3vw;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}
.container{
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-box{
    height: 380px;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
}
.img{
    height: 380px;
    width: 300px;
    overflow: hidden;
    background-image: url('https://www.sxc.edu.np/static/media/sxc-about.d8bc906e.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-text{
height: 380px;
width: 450px;
padding: 20px;
letter-spacing:  .8px;
word-spacing: 1.3px;
font-family: 'Roboto', sans-serif;
}
.text-head{
    margin-bottom: 20px;
    line-height: 1;
}
.text-head p{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #73738c;

}
.text-head h2{
    font-size: 28px;
    font-weight: 600;
    color: #002147;
}
.description{
    font-size: 19px;
    font-weight:500;

    color: #73738c;

}
.btn{
    background: #002147;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 70px;
    cursor: pointer;
    transition: all ease .3s;
}
.btn:hover{
    background: #9B0C23;
    box-shadow: 3px 3px  3px grey;
}
@media (max-width: 900px){
    .page2{
        flex-wrap: wrap;
        gap: 3em;
    }
    .container{
        height: fit-content;
        width: 100%;
    }
    .img-box{
        display: none;
    }

}